RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxx
CONTACT_TO_EMAIL=snehawathodkar06@gmail.com
CONTACT_FROM_EMAIL=Atulyaswar Contact <onboarding@resend.dev>
MANUSCRIPT_TO_EMAIL=snehawathodkar06@gmail.com
MANUSCRIPT_ADMIN_KEY=change-this-admin-key
KV_REST_API_URL=
KV_REST_API_TOKEN=
